################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/Wpf_coffeeMaker/Wpf_coffeeMaker/bin/x64/Debug/x64
/CS_UrRobot/UR
/CS_UrRobot/PC/Wpf_UrControlExample
/CS_UrRobot/PC/CS_UrRobot.sln
[Dd]ebug/
[Rr]elease/
x64/
*_i.c
*_p.c
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.log
*.vspscc
*.vssscc
.builds