################################################################################
# 這個 .gitignore 檔案由 Microsoft(R) Visual Studio 自動建立。
################################################################################

/Wpf_coffeeMaker/packages/Alturos.Yolo.2.5.0/build/x64
